plotly==4.14.3
seaborn==0.11.1
pandas==1.2.2
matplotlib==3.2.2
numpy==1.18.5
pandas_datareader==0.10.0
streamlit==1.7.0
scipy==1.6.1
ta==0.5.25
xgboost==1.2.1
scikit_learn==0.24.2
xlrd==1.2.0
statsmodels==0.10.1
arch==4.16.1
